[Unit]
Description=Spider_Bot
After=network.target

[Service]
ExecStart=/home/pi/test/test
WorkingDirectory=/home/pi/test/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
